header {
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  font-size: 30px;
}
button {
  width: 200px;
  background: teal;
}
button:hover {
  background-color: rgb(0, 255, 0);
}
button:active {
  box-shadow: 1px black;
}
h1 {
  font-size: xx-large;
}
h2 {
  text-align: center;
  background-color: aquamarine;
}
div p {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 247, 255);
}

/* doesn't work */
.divBlue {
  background-color: rgb(0, 247, 255);
}
.divGray {
  background-color: rgb(24, 24, 24);
}
